main.svelte-1cbulks {
    padding: 0;
    margin: 0 auto;
    height: 100%
}

.outer-container.svelte-1wwui7c {
    margin: 0 auto;
    background: #E5E5E5;
    color: black;
    height: 100%
}

h1.svelte-1wwui7c {
    font-weight: 400;
    padding: 1em;
    margin: 0
}

.inner-container.svelte-1wwui7c {
    margin: 0 2em;
    border: none;
    padding: 1em;
    height: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap
}

.column.svelte-1wwui7c {
    margin: 0 1em
}

.calendar.svelte-1wwui7c {
    flex-grow: 2
}

.properties.svelte-1wwui7c {
    flex-grow: 2
}

.header-bar.svelte-ibz8is {
    height: 80px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center
}

.tab.svelte-ibz8is {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 214px;
    border-right: 1px solid #E5E5E5;
    border-bottom: 5px solid white;
    text-align: center;
    font-weight: 400;
    height: 100%;
    letter-spacing: -0.30000001192092896px
}

.logo.svelte-ibz8is {
    background-color: white;
}

.menu.svelte-ibz8is {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 400
}

.tab.selected.svelte-ibz8is {
    font-weight: 700;
    border-bottom: solid 5px #FDC840;
    background: #FDC84017
}

.today-activity.svelte-qr7b5r.svelte-qr7b5r {
    font-size: 16px
}

.today-activity.svelte-qr7b5r div.svelte-qr7b5r {
    margin: 1em 0
}

.date.svelte-qr7b5r.svelte-qr7b5r {
    font-weight: 700
}

.summary.svelte-qr7b5r.svelte-qr7b5r {
    font-weight: 400
}

.activity-count.svelte-qr7b5r.svelte-qr7b5r {
    color: #028AB4;
    font-weight: 700
}

.week-day.svelte-tkgs7s {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px
}

.campaign.svelte-1k1qnpc {
    font-size: 16px
}

.title.svelte-1k1qnpc {
    color: #028ab4;
    font-size: 18px
}

.org.svelte-1k1qnpc {
    font-weight: 700
}

.desc.svelte-1k1qnpc {
    margin-top: 1em;
    line-height: 22px
}

.more.svelte-1k1qnpc {
    color: #028ab4;
    cursor: pointer
}

h2.svelte-ja7d7f {
    font-size: 28px;
    font-weight: 400;
    color: #666666
}

.wrapper.svelte-75swur {
    background: #f9f9f9;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 1em 0
}

.section.svelte-75swur {
    border: 1px solid #dddddd;
    padding: 1.8em
}

.button.svelte-tzjzrq {
    padding: 0.7em;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background: #fdc840;
    border-radius: 3px;
    color: white;
    cursor: pointer
}

.button.svelte-tzjzrq:hover {
    box-shadow: 2px 2px #999999;
}

.button.svelte-tzjzrq:active {
    box-shadow: 1px 1px #999999;
}

