.o3cal-table-calendar {
    border-spacing: 5px;
}

.o3cal-week-days > th {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.o3cal-date-cell {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    background-color: #f0f0f0;
    width: 58px;
    height: 58px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 2px;
    color: #393939;
}

/* saturday */
.o3cal-date-cell:nth-child(6) {
    font-weight: 400;
}

/* sunday */
.o3cal-date-cell:nth-child(7) {
    font-weight: 400;
}

/*.o3cal-date-cell.future-date:hover {*/
/*    cursor: pointer;*/
/*    outline: 2px solid #fdc840;*/
/*    background-color: #fdc84017;*/
/*}*/

.o3cal-date-cell.selected {
    border: 1px solid #888888;
}

.o3cal-date-cell.disabled {
    font-style: italic;
    border: 1px solid #393939;
}

.o3cal-date-cell.today {
    font-weight: bold;
    outline: none;
    /*outline: 1px dashed #fdc840;*/
}

.o3cal-date-cell.with-availability {
    background-color: #fdc840;
}


