.o3cal-date-cell.today:hover, .o3cal-date-cell.future-date:hover {
    outline: 2px solid rgba(251, 231, 231, 1);
    background-color: rgba(251, 231, 231, 0.4)
}

.o3cal-date-cell.selected {
    outline: 3px solid rgba(251, 231, 231, 1);
    background-color: rgba(251, 231, 231, 0.7)
}

