.wrapper {
    margin: 15px auto;
    max-width: 1100px;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.o3cal-table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.o3cal-table-calendar td, .o3cal-table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.o3cal-date-cell.today {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.o3cal-date-cell.today span {
    border-bottom: 2px solid currentColor;
}

.o3cal-date-cell.today:hover , .o3cal-date-cell.future-date:hover {
    cursor: pointer;
    outline: 2px solid green;
    background-color: rgba(0, 255, 0, 0.2);
}

.o3cal-date-cell.selected {
    outline: 3px solid green;
    background-color: rgba(0, 255, 0, 0.4);
}

.o3cal-date-cell.disabled {
    background-color: lightgrey;
}
