.spid-box {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin: auto;
    text-align: center;
    max-width: 33%;
    box-sizing: border-box;
    border-color: #ddd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.spid-anchor {
    display: inline-block;
    box-sizing: border-box;
    background-color: #06c;
    color: white;
    width: 220px;
    height: 46px;
    font-size: 15px;
    border-radius: 5px;
    padding: 0;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.spid-anchor:hover {
    background-color: #036;
    color: white;
}

.spid-anchor:active {
    background-color: #83beed;
    color: #036
}

.spid-button-icon {
    float: left;
    display: block;
    padding: 2px 10px 2px 2px;
    margin: 6px 6px 3px 10px;
    border-right: 1px solid #4d95d8;
}

.spid-button-icon img {
    width: 30px;
    vertical-align: middle;
}

.spid-button-text {
    float: left;
    display: block;
    padding: 15px .8em .85em 20px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    box-sizing: border-box;
    line-height: 15px;
}

.img-spid-agid {
    margin: auto;
    text-align: center;
}

.img-spid-agid img {
    max-width: 300px;
}

